:root {
    --primary-color: #3accf1;
    --text-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    background: #000000;
}

.carousel {
    height: 50%;
}

.fondo-icono {
    background: var(--primary-color);
    color: var(--text-color);
    text-align: center;
}

.custom-tooltip-class {
    --bs-tooltip-bg: var(--primary-color);
    --bs-tooltip-color: var(--bs-white);
}

.card-body {
    background: var(--primary-color);
    color: var(--text-color);
}

.btn {
    background: var(--primary-color);
    color: var(--text-color);
}

.btn:hover {
    background: var(--text-color);
    color: var(--primary-color);
}

footer {
    background: var(--primary-color);
    color: var(--text-color);
}
