:root {
    --primary-color: #3accf1;
    --text-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    background: #000000;
}

/* .fondo {
    border: solid 0px !important;
    position: fixed;
} */

/* .menu {
    border: solid 0px !important;
    position: fixed;
}

.menu.active {
    background: #ffffff;

} */










.carousel {
    height: 50%;
}

/* .fondo-desplegable {
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
    border-radius: 0 0 20px 20px;
    padding: 0 20px;
    opacity: 0.5;
} */

.fondo-icono {
    background: var(--primary-color);
    color: var(--text-color);
    text-align: center;
}

.custom-tooltip-class {
    --bs-tooltip-bg: var(--primary-color);
    --bs-tooltip-color: var(--bs-white);
  }


.card-body {
    background: var(--primary-color);
    color: var(--text-color);
}

.btn {
    background: var(--primary-color);
    color: var(--text-color);
}

.btn:hover {
    background: var(--text-color);
    color: var(--primary-color);
}

footer {
    background: var(--primary-color);
    color: var(--text-color);
}






















/*
.logotipo {
    width: 132px;
    height: 53px;
}

.h1 {
    font-size: 35px;
    color: #707070;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}

.card {
    padding: 0px;
}

.card-text {
    font-size: 16px;
}

.list-group-item, .card-link, .card-body {
    font-size: 12px;
    text-decoration: none;
}

.medios-pago {
    background: #17A2B8;
    color: #ffffff;
    padding: 57px 120px;
    margin: 0px;
}

.pagos h2 {
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.fa-brands {
    font-size: 50px;
    padding: 0px 0px 0px 15px;
    margin: 0px;
}

.logotipo-footer {
    width: 36px;
    height: 67px;
    margin: 58px auto;
} */